<div ng-controller="TwitchController">
    <br>
    <form id="twitchSearchForm" name="searchStream" ng-submit="search(searchterm)">
        <div class="input-group">
            <md-input-container>
                <label>Stream Search</label>
                <input id="twitchSearchIn" type="search" placeholder="Enter search term here" ng-model="searchterm">
            </md-input-container>
            <md-button id="search_button" class="md-fab" aria-label="Search" type="submit">
                <i class="glyphicon glyphicon-search"></i>
                <md-tooltip md-direction="right">
                    Click to search</md-tooltip>
            </md-button>
            <div class="notes">
                NOTE: Twitch has changed their API and authorization protocol.<br />
                A necessary code update is comming soon so the search will work again.<br />
                Thanks for your patience!<br />
            </div>
        </div>
    </form>
    <div ng-include="'/templates/pages/twitch-data.html'"></div>
</div>