<br>
<div class="col-md-8">
    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
    <div ng-if="streamlist.data">
        <h2>Total streams: {{streamlist.data.length}}</h2>
    </div>
    <table class="table">
        <tr>
            <tbody>
                <tr dir-paginate="streamer in streamlist.data | itemsPerPage:7">
                    <td>
                        {{streamer.title}}
                    </td>
                    <td>
                        <strong>
                           <a ng-href="https://www.twitch.tv/{{streamer.user_name}}">{{streamer.user_name}}</a> </strong> (Current Viewers - {{streamer.viewer_count}})
                        <br> {{streamer.type}}
                    </td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>
